.safir_book_pages {
    width: 100%;
}
.safir_book_pages_item {
    background: #f0f0f1;
    border-radius: 2px;
    border: 1px solid #c3c4c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;
}
